
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
 
   
 
  #img{
    height:300px;
    width: 450px;
    border: 4px solid #ffcb15
  }
  #im{
    height:300px;
    width:450px;
    border: 4px solid #ffcb15
  }
  #ima{
    height: 300px;
    border: 4px solid #ffcb15
  }