/* The side navigation menu */
.sidebar {
    background-color: #f1f1f1;
    position: fixed!important;
    overflow: auto;
    height: 100%;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color:  #ffc107;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color:grey;
    color: white;
  }
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height:auto ;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 700px) {
    .sidebar a {
      text-align: center;
    }
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    border-color: #ffc107 !important;
    background-color:#e6eaec !important;
  }
  
  .btn:hover{
    border-color: #ffc107;
  }
  .btn:focus { 
    outline: none !important;
    border-color: #ffc107 !important;
    box-shadow: 0 0 7px #ffc107 !important;
  }
  input:focus{
    border-color: #ffc107 !important;
    box-shadow: 0 0 7px #ffc107 !important;
  }
  .btn{
    float: right;
    margin-right: 4px;
     
  }
  
  button:hover {
    opacity:1;
  }
  
  
  /* Add padding and center-align text to the container */
  .container {
    text-align: center;
    overflow-x: auto!important;
    overflow-y: auto!important;
  }
  body > table{
    width: 80% !important;
    margin:auto;

}


table{
    border-collapse: collapse;

}



td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #ffcb15;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number], input[type=datetime-local]  {
    width: 100%;
    padding: 4px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
input:hover{
  border: 1px solid #000!important;

}

input[type=submit]{
    width: 30%;
    background-color: #ffc107 !important;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}


label.validation-error{
    color: red;
    margin-left: 5px;
}

.hide{
    display:none;
}


body{
  padding: 0;
  align-items:baseline;
  justify-content:last baseline;
  
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{
  width: 20;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items:center;
 
}

.card{
  width: 25rem;
  border-radius: 1rem;
  background: rgb(193, 175, 175);
  box-shadow: 4px 4px 15px rgba(#000, 0.15);
  position : relative;
  color: #000000;
  right: 350px;
 border-color: #000!important;
}

.card .card__container{
  padding : 2rem;
  width: 100%;
  height: 100%;

  border-radius: 1rem;
  position: relative;
}

.card .card__header{
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.card .card__body{
  font-family: 'Roboto', sans-serif;
}

.card::before{
  position: absolute;
  top:2rem;
  right:-0.5rem;
  content: '';
  background: #ffcb15;
  height: 28px;
  width: 28px;
  transform : rotate(45deg);
}

.card::after{
  position: absolute;
  content: attr(data-label);
  top: 11px;
  right: -14px;
  padding: 0.5rem;
  width: 10rem;
  background: #ffcb15;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
