body {
  background-color: black !important;
  background-image: url(/Assets/highway.jpg);
  /* background-image: url("./Assets/blacmap.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.text-giant {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}
label {
  font-size: 20px;
}
.form-control {
  color: #ffcb15;
}
#colbg {
  background-image: url(/Assets/paying.webp);
  background-size: 140%;
}
.container {
  background-color: rgba(0, 0, 0, 0.656);
}

.radio-container {
  accent-color: #ffcb15;
  font-size: medium;
}
label {
  color: white;
}
